:root {
    --larger-text-font-size: 30px;
    --larger-text-font-line-height: 35px;
    --small-text-font-size: 17px;
    --small-text-line-height: 22px;
    --primary-text-shadow-color: #0c468f;
    --secondary-text-shadow-color: #a87519;
    --primary-grey: #efefef;
    --add-button-width: 81px;
}

/* common class >> */
.larger-text-size {
    font-size: var(--larger-text-font-size);
    line-height: var(--larger-text-font-line-height);
    font-family: "play-fair-semoBold";
}

.smaller-text-size {
    font-size: var(--small-text-font-size);
    line-height: var(--small-text-line-height);
    font-family: "play-fair-semoBold";
}

.primary-text-shadow {
    text-shadow: 2px 2px 5px var(--primary-text-shadow-color);
}

.secondary-coloring {
    width: fit-content;
}

.secondary-coloring>span:nth-child(2n) {
    text-shadow: 2px 2px 3px var(--primary-text-shadow-color);
}

.secondary-coloring>span:nth-child(2n + 1) {
    text-shadow: 2px 2px 3px var(--secondary-text-shadow-color);
}

/* << common class */
/* */
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.w-100 {
    width: 100%;
}

.point-three-second-transition{
    transition: all 0.3s ease-out;
}


.container {
    height: 100dvh;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(45deg, #a87519 20%, #0c468f 20%, #a87519 40%, #0c468f 40%, #a87519 80%, #0c468f 80%);
}

.main-content-wrapper {
    row-gap: 20px;
    width: 50%;
    height: 81dvh;
    margin-top: 4dvh;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    padding: 3% 4%;
}

.main-action-wrapper {
    row-gap: 15px;
    overflow-y: scroll;
}

.add-to-do-form {
    position: relative;
}

.add-to-do-form>input {
    padding: 1em calc(var(--add-button-width)) 1em 1.5em;
    background-color: var(--primary-grey);
    border-radius: 1.7em;
}

.add-to-do-form>button {
    max-width: var(--add-button-width);
    right: 0;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 1em 1.5em 1em 1.5em;
    border-radius: 1.7em;
    background-image: linear-gradient(var(--primary-text-shadow-color), var(--secondary-text-shadow-color));
    position: absolute;
}

.added-to-do-ul {
    row-gap: 15px;
    /* overflow-y: scroll; */
}

.added-to-do-li {
    padding: 0.9em 1.2em;
    border-radius: 1.7em;
    width: 100%;
    background-color: var(--primary-grey);
    border: 2px dashed black;
    transition: all 0.3s ease-out;
}
.added-to-do-li.checked{
    background-color: #94b627;
}
.added-to-do-li.checked button.mark-circle{
    background-color: #455511;
}

.added-to-do-li.checked {
    background-color: #94b627;
}

.added-to-do-li.checked button.mark-circle {
    background-color: #455511;
}

.added-to-do-li.checked {
    background-color: rgb(62, 214, 62);
}

.added-to-do-li.checked button.mark-circle {
    background-color: rgb(105, 229, 105);
}

.li-left-side {
    column-gap: 0.7em;
}

.mark-circle {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}
.delete-svg{
    background-color: inherit;
}
.delete-svg:hover{
    transform: scale(1.2);
    transition: all 0.5s linear;
}

.warning {
    align-self: center;
    color: #ac2912;
    display: none;
}

.warning.active {
    display: block;
}