.container {
    height: 100dvh;
    display: flex;
    background-image: linear-gradient(rgb(90, 175, 212) 20%, rgb(238, 130, 182) 20%, rgb(90, 175, 212) 45%, rgb(238, 130, 182) 45%, rgb(90, 175, 212) 60%, rgb(238, 130, 182) 60%, rgb(90, 175, 212) 80%, rgb(238, 130, 182) 80%);
    justify-content: center;
}

.main-content-wrapper {
    margin-top: 4dvh;
    height: 81dvh;
    width: 60%;
    background-color: blueviolet;
    border-radius: 5%;

}